.container {
    width: 100%;
    height: 300px;
    border: 2px red;
    border-style: solid;
    display: flex;
    justify-content: space-around;
    
}
.box {
    width: 100px;
    height: 97px;
    border: 2px black;
    border-style: solid;
}